body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: hsl(266, 82%, 78%);
}

h1{
    color: rgb(166, 87, 202);
}

h2{
    color: rgb(79, 8, 126);
}

h1, h2, h3{
    text-align: center;
}

h3{
    color: rgb(79, 8, 126);
}

label, input{
    display: block;
    margin: 10px 0px;
    text-align: left;
}

#div-form{
    background-color: rgb(206, 175, 235);
    width: 400px;
    min-height: 350px;
    margin: 20px auto;
    padding: 20px;
}

#div-dados{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}