body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: hsl(282, 46%, 74%);
}

h1{
    color: rgb(166, 87, 202);
}

h2{
    color: rgb(79, 8, 126);
}

h1, h3{
    text-align: center;
}

label, input{
    display: block;
    margin: 10px 0px;
    text-align: left;
}

#div-form{
    background-color: rgb(217, 166, 233);
    width: 400px;
    min-height: 250px;
    margin: 20px auto;
    padding: 20px;
}

#div_dados{
    background-color: rgb(201, 178, 219);
    width: 100%;
    height: 100px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}